* {
  box-sizing: border-box;
  max-width: 100%;
}

html,
body {
  overflow-x: hidden;
  background-color: #0f0f13 !important;

  /* 2. Stop the iOS/Android elastic pull-to-refresh bounce */
  overscroll-behavior-y: none;

  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 1. Remove all default browser spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. Force the root elements to take up the full window */
html,
body,
#root {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  margin: 0;
  /* Matches your right-side background */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}